<h1>All the Shirts</h1>




<ol>
<% @shirts.each do |shirt| %>

	<li>
	
	<p> 
	<%= shirt.name %>
	</p>
	<p>
		<%= shirt.description %>
	</p>
	<p>
		<%= image_tag 'https://www.google.com/images/srpr/loro4w.png', height: 100
		%>
	</p>>	
	</li>
</ol>
